@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto+Slab:wght@700&display=swap");

:root {
  /* Primary theme customization values: */
  --font-family-body: "Open Sans", sans-serif;
  --font-family-heading: "Roboto Slab", serif;
  --color-text-dark: #000000;
  --color-text-medium: #595959;
  --color-text-light: #a8a8a8;
  --color-bg: #ffffff;
}

body {
  font-size: 13px;
  color: var(--color-text-dark);
  max-width: 8.5in;
  font-family: var(--font-family-body);
  padding: 0.5in;
  line-height: 1.28em;
  background-color: var(--color-bg);
  margin: auto;
}

a {
  color: inherit;

  @media only print {
    text-decoration: none;
  }
}

i,
em {
  font-style: italic;
}

::selection {
  background-color: var(--color-text-medium);
  color: var(--color-bg);
}

header {
  text-align: center;

  h1 {
    font-family: var(--font-family-heading);
    font-weight: bold;
    font-size: 1.35rem;
    letter-spacing: 0.075em;
    text-transform: uppercase;
  }

  address {
    color: var(--color-text-medium);
    margin-top: 0.5rem;

    li {
      display: inline-block;

      &:not(:first-child)::before {
        content: " • ";
        margin: 0 0.25em;
      }
    }
  }
}

.section {
  margin-top: 0.75rem;

  h2 {
    font-family: var(--font-family-heading);
    font-weight: bold;
    font-size: 1.15rem;
    text-transform: uppercase;
  }
}

.item {
  margin-top: 0.5rem;

  h3 {
    font-family: var(--font-family-heading);
    font-weight: bold;
    font-size: 0.85rem; /* roboto is naturally larger than open sans, so have to make it smaller to compensate. */
    margin-top: 0;
  }

  address {
    float: right;
    color: var(--color-text-light);
  }

  p {
    margin-top: 0.125rem;
    color: var(--color-text-medium);
    padding-left: 0.5rem;
  }
}

.role,
.degree {
  margin-top: 0.5rem;
  padding-left: 0.5rem;

  &.degree {
    margin-top: 0.125rem;

    .gpa {
      font-style: normal;
    }
  }

  .dates {
    float: right;
    color: var(--color-text-light);
  }

  h4 {
    font-style: italic;
    font-weight: normal;
  }

  ul {
    list-style: disc;
    padding-left: 1.5rem;

    li {
      margin-top: 0.25rem;
    }
  }
}

.skills {
  margin-top: 0.5rem;

  dt {
    font-style: italic;
    float: left;
    padding-left: 0.75rem;
    padding-right: 1ch;

    &::after {
      content: ":";
    }
  }

  dd,
  dt {
    margin-bottom: 0.25rem;
  }
}
